openai>=0.27.2
groq>=0.2.4
torch>=1.13.1
soundfile>=0.11.0
sounddevice>=0.4.4
numpy>=1.24.2
queue>=3.8.0
threading>=10.0.0
RealtimeTTS>=1.0.1
RealtimeSTT>=1.0.1
TTS>=1.7.0
memory_profiler>=0.62.0
edge_tts>=1.1.0
asyncio>=3.10.2
requests>=2.31.0
base64>=2.0.1
PIL>=9.4.0
tempfile>=1.0
nltk>=3.8.2
